<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.POMtestclass.homePageTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
    <classes>
      <class name="com.POMtestclass.ProductStoreTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
